{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-3"> Heroes Manager Backoffice </h1>

    {% include('kit/__vertical-bar.html.twig') %}

    </br>
    <p>Merci de vous identifier à l'aide de vos identifiants d'administrateur.</p>

{% endblock %}