{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-3"> Heroes Manager Backoffice </h1>

    {% include('kit/__vertical-bar.html.twig') %}

    </br>

    <button class="btn btn-warning offset-3 col-6 my-2">Utilisateurs</button>
    <button class="btn btn-warning offset-3 col-6 my-2">Personnages</button>
    <button class="btn btn-warning offset-3 col-6 my-2">Monstres</button>

{% endblock %}