<div class="header">
  <div>
    <h1>Heroes Manager</h1>
  </div>
  <div>
    <button type="button" class="nes-btn is-primary" data-toggle="modal" data-target="#login">Login</button>
    <button type="button" class="nes-btn is-primary" data-toggle="modal" data-target="#register">Register</button>
    <button type="button" class="nes-btn is-primary" data-toggle="modal" data-target="#about">About</button>
    <button type="button" class="nes-btn is-primary" data-toggle="modal" data-target="#credits">Credits</button>
  </div>
</div>

<app-register></app-register>
<app-credits></app-credits>
<app-login></app-login>
<app-about></app-about>
