{% set route = app.request.attributes.get('_route') %}

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Heroes Manager Backoffice</a>
        <ul class="nav navbar-nav navbar-right">
            <li class="{{ route == 'app_security_login' ? 'active' }}">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('app_security_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_security_login') }}">Connexion</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>