<app-header></app-header>
<div class="main-frame">
  <div class="window"><app-company></app-company></div>
  <div class="window"><app-team></app-team></div>
  <div class="window"><app-character></app-character></div>
</div>
<div class="main-frame">
    <div class="window"><app-action></app-action></div>
    <div class="window"><app-map></app-map></div>
    <div class="window"><app-history></app-history></div>
</div>
<div class="main-frame">
    <div class="window"><app-main></app-main></div>
    <div class="window"><app-info></app-info></div>
    <div class="window"><app-display></app-display></div>
</div>